<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleDisplayName</key>
	<string>Едадил</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>22.24.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ru.yandex.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edadeal</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ru.yandex.auth.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yandexauth</string>
				<string>yandexauth2</string>
				<string>yandexauth3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.edadeal.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edadeal</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.edadeal.vk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vk4990425</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.edadeal.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.345938793918-t613ak2qggi64g8lauab8af9rph5j8o0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>YandexLoginSDK</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yxb80693a227aa4c5393b01721f4ae49f7</string>
				<string>yandexauth3</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>220617.1927</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7899932632484219~9119128074</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>instagram</string>
		<string>vk</string>
		<string>vk-share</string>
		<string>vkauthorize</string>
		<string>yandexauth</string>
		<string>yandexauth2</string>
		<string>check</string>
		<string>vkusvill</string>
		<string>dixyapp</string>
		<string>mobilewallet</string>
		<string>okeymobile</string>
		<string>com.x5retailgroup.perekrestok-new</string>
		<string>skorolek</string>
		<string>yamarket</string>
		<string>yandexmarket</string>
		<string>lentaApp</string>
		<string>pyaterochka</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://adjust-skadnetwork.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>amazonaws.com.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>vk.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Разрешите Едадилу получить доступ к Вашей фотогалереи</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Разрешите Едадилу получить доступ к Вашему календарю</string>
	<key>NSCameraUsageDescription</key>
	<string>Разрешите Едадилу получить доступ к Вашей фотокамере, чтобы сканировать чеки</string>
	<key>NSContactsUsageDescription</key>
	<string>Разрешите Едадилу получить доступ к Вашим контактам</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Разрешите Едадилу определять местоположение, чтобы мы могли показать вам скидки в ближайших магазинах.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Разрешите Едадилу получить доступ к Вашему микрофону</string>
	<key>NSMotionUsageDescription</key>
	<string>Разрешите Едадилу отслеживать направление вашего движения</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Разрешите Едадилу получить доступ к Вашей фотогалерее</string>
	<key>NSRemindersUsageDescription</key>
	<string>Разрешите Едадилу получить доступ к приложению Напоминания</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Данные будут использоваться для персонализации предлагаемых акций</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n9x2a789qt.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>r26jy69rpl.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>zq492l623r.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Digital-7.ttf</string>
		<string>YSText-BoldItalic.ttf</string>
		<string>YSText-Medium.ttf</string>
		<string>YSText-Light.ttf</string>
		<string>YSText-MediumItalic.ttf</string>
		<string>YSText-Bold.ttf</string>
		<string>YSText-Regular.ttf</string>
		<string>YSText-LightItalic.ttf</string>
		<string>YSText-RegularItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
